h1 Languages#index
= link_to 'New', new_language_path, class: 'btn btn-primary'
.table-responsive
  table.table
    thead
      tr
        th Id
        th Code
        th Name
    tbody
      - unless @languages.blank?
        - @languages.each do |language|
          tr
            td = language.id
            td = link_to language.code, language
            td = language.name
      - else
        tr
          td.text-center colspan="3" No existen registro